<% if @event.comments.any? %>
  <h3>Comments (<%= @event.comments.count %>)</h3>
  <ol class="comment">
    <%= render @comments%>
  </ol>
  <%= will_paginate @comments %>
<% end %>
<%= form_for [@event, @comment] do |f| %>
<%= p @event.id %>
  <%= f.text_field :content %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>
