<% if current_user == @event.user %>
  <button type="button" class="btn btn-primary">
    <%= link_to "イベントを編集する", edit_event_path(@event) %>
  </button>
<% end %>
<h2><%= @event.title %></h2>
<% if @event.image.presence %>
  <p>
    <strong>Picture</strong>
    <%= image_tag @event.image_url ,class: "img-fluid", alt: "image"%>
  </p>
<% end %>
<p><%= @event.details %></p>
<p><%= @event.place %></p>
<p><%= @event.start_time %></p>
<p><%= @event.user.username %></p>
<% unless @event.user_id == current_user.id then %>
  <% if current_user.already_attended?(@event) %>
    <button type="button" class="btn btn-secondary">
      <%= link_to "イベント参加を取り消す", event_attendance_path(params[:id]), method: :delete %>
    </button>
  <% else %>
    <button type="button" class="btn btn-primary">
      <%= link_to "イベントに参加する", event_attendances_path(params[:id]), method: :create %>
    </button>
  <% end %>
<% end %>

<% if current_user == @event.user %>
  <%= link_to "delete", @event, method: :delete,
                                   data: { confirm: "You sure?" } %>
<% end %>
<div class="row">
  <%= render "comments", event: @event,comments: @comments, comment: @comment %>
  <%= render "participants", event: @event %>
</div>
