<main>
  <h1>Circle of Bike</h1>
  <p>さあ、仲間と冒険に出かけよう。</p>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'バイク写真・街路樹.jpg', :size =>'700x480' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'バイク写真・セロー.jpg', :size =>'700x480' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'バイク写真スクータ・女性.jpg', :size =>'700x480' %>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <%= render "event_sort" %>
  <%= render "recomended_event" %>
</main>
