<!DOCTYPE html>
<html>
  <head>
    <title>Bike site</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
      <%= render 'layouts/header' %>
  <body>

    <main>
      <div class="container">
        <%= render 'layouts/flash_messages' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <%= render 'layouts/footer' %>
      </div>
    </main>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
